BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Helvetica, Sans-Serif
}
TABLE {
	FONT-SIZE: 100%
}
H1 {
	FONT-SIZE: 160%; COLOR: #cc0000; BACKGROUND-COLOR: transparent
}
H2 {
	FONT-SIZE: 140%; COLOR: #cc0000; BACKGROUND-COLOR: transparent
}
H3 {
	FONT-SIZE: 120%; COLOR: #cc0000; BACKGROUND-COLOR: transparent
}
TD.blur {
	COLOR: #8b4513; BACKGROUND-COLOR: #efe7d6
}
TD.topnav {
	COLOR: #ffffff; BACKGROUND-COLOR: #cc0000; nmnfont-size: 80%
}
TD.leftnav {
	COLOR: #ffffff; BACKGROUND-COLOR: #393131
}
TD.content {
	COLOR: #ffffff; BACKGROUND-COLOR: #393131
}
TD.news {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TD.main {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
P.intro {
	FONT-SIZE: 110%; COLOR: #8b4513; BACKGROUND-COLOR: transparent
}
PRE {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; FONT-FAMILY: "Fixedsys", monospace
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
SPAN.blue {
	COLOR: #00008b; BACKGROUND-COLOR: transparent
}
SPAN.red {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
HR {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
.content_sections {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Verdana, Helvetica, Sans-Serif
}
A.topnav:link {
	COLOR: white; BACKGROUND-COLOR: transparent
}
A.topnav:visited {
	COLOR: white; BACKGROUND-COLOR: transparent
}
A.topnav:active {
	COLOR: black; BACKGROUND-COLOR: transparent
}
A.topnav:hover {
	COLOR: black; BACKGROUND-COLOR: transparent
}
#lnavi UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#lnavi LI {
	MARGIN: 0px
}
#lnavi A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #898888
}
#lnavi A:link {
	FONT-WEIGHT: bold; COLOR: #eee; TEXT-DECORATION: none
}
#lnavi A:visited {
	FONT-WEIGHT: bold; COLOR: #eee; TEXT-DECORATION: none
}
#lnavi A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #cc0000; TEXT-DECORATION: none
}
#lnavi A:active {
	COLOR: #ffffff; BACKGROUND-COLOR: #cc0000; TEXT-DECORATION: none
}
#stateson UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#stateson LI {
	MARGIN: 0px
}
#stateson A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #666666
}
#stateson A:link {
	FONT-WEIGHT: bold; COLOR: #eee; TEXT-DECORATION: none
}
#lnavi A:visited {
	FONT-WEIGHT: bold; COLOR: #eee; TEXT-DECORATION: none
}
#stateson A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #333333; TEXT-DECORATION: none
}
#lnavi A:active {
	COLOR: #ffffff; BACKGROUND-COLOR: #333333; TEXT-DECORATION: none
}
#lnavi_sub UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#lnavi_sub LI {
	MARGIN: 0px
}
#lnavi_sub A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #898888
}
#lnavi_sub A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#lnavi_sub A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#lnavi_sub A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #666666; TEXT-DECORATION: none
}
#lnavi_sub A:active {
	COLOR: #ffffff; BACKGROUND-COLOR: #666666; TEXT-DECORATION: none
}
#stateson_sub UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#stateson_sub LI {
	MARGIN: 0px
}
#stateson_sub A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #666666
}
#stateson_sub A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#lnavi_sub A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#stateson_sub A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #333333; TEXT-DECORATION: none
}
#lnavi_sub A:active {
	COLOR: #ffffff; BACKGROUND-COLOR: #333333; TEXT-DECORATION: none
}
A.leftnav_devchannel:link {
	COLOR: white; BACKGROUND-COLOR: transparent
}
A.leftnav_devchannel:visited {
	COLOR: white; BACKGROUND-COLOR: transparent
}
A.leftnav_devchannel:active {
	COLOR: red; BACKGROUND-COLOR: transparent
}
A.leftnav_devchannel:hover {
	COLOR: red; BACKGROUND-COLOR: transparent
}
SPAN {
	LIST-STYLE-TYPE: none
}
SPAN.expanded {
	DISPLAY: block
}
SPAN.collapsed {
	DISPLAY: none
}
A.devtb:link {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent
}
A.devtb:visited {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent
}
A.devtb:active {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent
}
A.devtb:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
